#codes {
	.modal-content {
		border-radius: 24px;
	}

	.modal-header {
		.close-btn {
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			border-radius: 50%;
			justify-content: center;
			border: 2px solid #9a9a9a;
		}
	}

	.modal-body {
		text-align: center;
		h2 {
			font-size: 30px;
			font-weight: 600;
			line-height: 46px;
			padding-bottom: 60px;
			text-transform: capitalize;
			font-family: "Poppins", sans-serif;
		}

		.field {
			display: flex;
			margin-bottom: 24px;
			align-items: center;
			justify-content: center;

			label {
				font-size: 24px;
				line-height: 36px;
				font-weight: 600;
				margin-right: 24px;
				font-family: "Poppins", sans-serif;
			}

			&-wrapper {
				width: 350px;
				border-radius: 38px;
				background-color: #fff;
				border: 2px solid #707070;

				input {
					font-size: 18px;
					line-height: 26px;
					font-style: italic;
					padding: 12px 26px;
					font-weight: 300;
					background-color: transparent;
					font-family: "Poppins", sans-serif;

					&::placeholde {
						color: #707070;
					}
				}
			}
		}

		.add-btn {
			font-size: 16px;
			line-height: 19px;
			width: 200px;
			height: 44px;
			font-weight: 600;
			border-radius: 38px;
			margin-bottom: 60px;
			font-family: "Poppins", sans-serif;
			box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
		}

		.submit-wrapper {
			padding: 36px 0px;
			border-top: 1px solid #707070;

			button {
				font-size: 16px;
				line-height: 19px;
				text-transform: uppercase;
				font-weight: 600;
				color: #fff;
				width: 200px;
				height: 44px;
				background-color: #000;
				border-radius: 34px;
				font-family: "Poppins", sans-serif;
				span {
					margin-right: 12px;
				}
			}
		}
	}
}
