#codes {
	.modal-content {
		border-radius: 24px;
	}

	.modal-header {
		.close-btn {
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			border-radius: 50%;
			justify-content: center;
			border: 2px solid #9a9a9a;
		}
	}

	.modal-body {
		padding: 0px;
		text-align: center;
		h2 {
			font-size: 30px;
			font-weight: 600;
			line-height: 46px;
			padding-bottom: 60px;
			text-transform: capitalize;
			font-family: "Poppins", sans-serif;
			@include max(767px) {
				font-size: 24px;
				line-height: 32px;
				padding-bottom: 24px;
			}

			@include max(575px) {
				font-size: 18px;
				line-height: 21px;
			}
		}

		.add-btn {
			font-size: 16px;
			line-height: 19px;
			width: 200px;
			height: 44px;
			font-weight: 600;
			border-radius: 38px;
			margin-bottom: 60px;
			font-family: "Poppins", sans-serif;
			box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
			@include max(767px) {
				margin-bottom: 24px;
			}
		}

		.submit-wrapper {
			padding: 36px 0px;
			border-top: 1px solid #707070;
			@include max(767px) {
				padding: 16px 0px;
			}
			button {
				font-size: 16px;
				line-height: 19px;
				text-transform: uppercase;
				font-weight: 600;
				color: #fff;
				width: 200px;
				height: 44px;
				background-color: #000;
				border-radius: 34px;
				font-family: "Poppins", sans-serif;
				span {
					margin-right: 12px;
				}
			}
		}

		.field {
			display: flex;
			margin-bottom: 24px;
			align-items: center;
			justify-content: center;
			@include max(767px) {
				flex-direction: column;
			}
			label {
				font-size: 24px;
				line-height: 36px;
				font-weight: 600;
				margin-right: 24px;
				font-family: "Poppins", sans-serif;

				@include max(767px) {
					font-size: 18px;
					line-height: 26px;
					margin: 0px;
					margin-bottom: 12px;
				}
			}

			&-wrapper {
				width: 350px;
				border-radius: 38px;
				background-color: #fff;
				border: 2px solid #707070;
				@include max(767px) {
					width: 90%;
				}

				input {
					font-size: 18px;
					line-height: 26px;
					font-style: italic;
					padding: 12px 26px;
					font-weight: 300;
					height: 100%;
					background-color: transparent;
					font-family: "Poppins", sans-serif;

					&::placeholde {
						color: #707070;
					}
				}
			}
		}
		.add-btn {
			span {
				margin-right: 12px;
				display: inline-block;
			}
		}
	}
}

#publishModal,
.finalStep-modal {
	.modal {
		&-content {
			border-radius: 24px;
		}

		&-body {
			font-family: "Poppins", sans-serif;
			padding: 0px;
			& > h2 {
				color: #000000;
				font-size: 30px;
				line-height: 46px;
				text-align: center;
				font-weight: 600;
				margin-bottom: 60px;
			}

			.profile-contents {
				text-align: center;

				margin: 0px auto;

				& > h2 {
					font-size: 24px;
					line-height: 35px;
					font-weight: 600;
					margin-bottom: 32px;
					text-transform: capitalize;
					font-family: "Poppins", sans-serif;
				}

				.profile-contents__item {
					display: flex;
					align-items: center;
					padding-bottom: 80px;
					width: 80%;
					margin: 0px auto;
					justify-content: center;
					@include max(991px) {
						width: 100%;
						flex-direction: column;
						padding-bottom: 30px;
					}

					.profile-box {
						width: 100%;
						height: 250px;
						cursor: pointer;
						margin-right: 24px;
						border-radius: 28px;
						display: flex;
						align-items: center;
						flex-direction: column;
						justify-content: center;
						background-color: #f5f5f5;
						border: 2px solid #70707049;

						&:hover {
							color: #fff;
							background-color: #000;

							p {
								color: #fff;
							}
						}

						@include max(991px) {
							margin: 0px;
							margin-bottom: 24px;
						}
						&:nth-last-child(1) {
							margin: 0px;
						}

						&__icon {
							margin-bottom: 40px;
						}

						p {
							color: #000;
							font-size: 18px;
							line-height: 30px;
							font-weight: 600;
							text-transform: capitalize;
							font-family: "Poppins", sans-serif;
						}
					}
				}
			}

			form {
				& > h2 {
					color: #000;
					font-size: 24px;
					line-height: 35px;
					font-weight: 600;
					margin-bottom: 30px;
					@include max(991px) {
						text-align: left;
					}
				}

				.field,
				.form-content {
					display: flex;
					justify-content: space-between;
					align-items: center;
					@include max(991px) {
						flex-direction: column;
						align-items: flex-start;
					}
				}

				.form-content {
					width: 70%;
					margin: 0px auto;
					padding-bottom: 60px;
					@include max(1340px) {
						width: 90%;
					}
					@include max(991px) {
						width: 100%;
						flex-direction: column;
					}

					.form-check {
						&-label {
							font-size: 18px;
							line-height: 24px;
							font-weight: 600;
							color: #000;
							white-space: nowrap;
						}

						&-input:checked {
							background-color: #000;
							border-color: #000;
							box-shadow: none;
						}
					}
				}

				.field {
					margin-right: 24px;
					@include max(991px) {
						margin-bottom: 24px;
					}
					label {
						color: #000;
						font-size: 18px;
						line-height: 27px;
						font-weight: 600;
						margin-right: 8px;
						white-space: nowrap;
					}

					&-wrapper {
						width: 260px;
						height: 44px;
						border-radius: 25px;
						border: 1px solid #707070;

						input {
							font-size: 18px;
							line-height: 26px;
							padding: 12px 26px;
							font-weight: 300;
							height: 100%;
							background-color: transparent;
							font-family: "Poppins", sans-serif;

							&::placeholde {
								color: #707070;
							}
						}
					}
				}

				.actions {
					display: flex;
					padding: 32px;
					align-items: center;
					border-top: 1px solid #707070;
					justify-content: space-between;

					button {
						font-size: 16px;
						line-height: 19px;
						font-weight: 600;
						padding: 12px 40px;
						border-radius: 38px;
						display: inline-block;
						border: 3px solid #000000;

						&.submit {
							color: #fff;
							background-color: #000;
						}
					}
				}
			}
		}
	}
}

#addUrlModal {
	.modal-content {
		border-radius: 24px;
	}
	.modal-body {
		text-align: center;
		padding-bottom: 36px;
		font-family: "Poppins", sans-serif;
		h2 {
			color: #000;
			font-size: 28px;
			font-weight: 600;
			line-height: 42px;
			margin-bottom: 24px;
			text-transform: uppercase;
		}

		.field {
			width: 80%;
			margin: 0px auto;
			overflow: hidden;
			border: 1px solid #000;
			border-radius: 28px;
			margin-bottom: 30px;
			position: relative;
			input {
				width: 100%;
				padding: 16px 24px;
			}
		}

		.submit {
			font-size: 16px;
			line-height: 19px;
			font-weight: 600;
			color: #fff;
			overflow: hidden;
			padding: 12px 24px;
			border-radius: 24px;
			display: inline-block;
			background-color: #000;
		}
	}
}
