.sidebar {
	padding: 40px 24px;
	transition: all 0.4s linear;
	&--sm {
		top: 0;
		z-index: 999;
		left: -100%;
		position: fixed;
		padding-top: 90px;
		@include min(992px) {
			display: none;
		}
	}

	&-menu {
		padding: 0px;
		li {
			margin-bottom: 24px;
			a {
				width: 100%;
				white-space: nowrap;
			}
		}
	}

	&-promo {
		padding: 24px;
		border-radius: 12px;
		position: relative;
		overflow: hidden;
		background: rgb(255, 255, 255);
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 1) 1%,
			rgba(115, 115, 115, 1) 100%
		);

		.price {
			text-align: right;

			h2,
			p {
				font-size: 36px;
				line-height: 52px;
				font-weight: 700;
				font-family: "Poppins", sans-serif;
			}
		}

		a {
			font-size: 20px;
			line-height: 52px;
			text-align: center;
			width: 100%;
			display: inline-block;
			text-transform: capitalize;
		}
	}

	&-close {
		position: absolute;
		top: 12px;
		right: 12px;
	}
}

.sticky-sidebar {
	left: 0;
	top: 50%;
	z-index: 99;
	position: fixed;
	padding: 0px;
	transform: translateY(-50%);
	background-color: #fff;
	border-top-right-radius: 38px;
	border-bottom-right-radius: 38px;
	box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);

	@include max(575px) {
		display: none;
	}

	li {
		display: flex;
		padding: 24px;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.395);
		@include max(767px) {
			padding: 12px;
		}
		&:nth-last-child(1) {
			border: 0px;
		}
		&:hover {
			a {
				img {
					transform: scale(1.1);
				}
			}
		}
		a {
			img {
				filter: grayscale(1);
				transform: scale(1);

				@include max(767px) {
					transform: scale(0.8);
				}
			}
		}
	}
}

body {
	&.open {
		.sidebar {
			left: 0;
		}
	}
}
