.article {
	padding: 24px;
	overflow: hidden;
	position: relative;
	border-radius: 24px;
	background-color: #fff;
	-webkit-box-shadow: 0px 12px 23px -3px rgba(0, 0, 0, 0.71);
	box-shadow: 0px 12px 23px -3px rgba(0, 0, 0, 0.71);

	&:hover {
		.article-content {
			height: 820px;

			@include max(991px) {
				height: 600px;
			}
		}

		.article-heading {
			display: none;
		}

		.article-info {
			opacity: 1;
			pointer-events: visible;
			backdrop-filter: blur(17px);
			background: rgba(0, 0, 0, 0.1);
			-webkit-backdrop-filter: blur(17px);
			box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		}
	}

	&-content {
		z-index: 1;
		width: 100%;
		height: 600px;
		overflow: hidden;
		position: relative;
		border-radius: 50px;
		margin-bottom: 40px;
		transition: all 0.3s linear;
		@include max(991px) {
			height: 480px;
		}
		.article-info {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 80px;
			color: #fff;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			border-radius: 50px;
			box-shadow: none;
			background: transparent;
			backdrop-filter: blur(0px);
			font-family: "Tinos", serif;
			transition: all 0.2s ease-in-out;
			-webkit-backdrop-filter: blur(0px);

			@include max(991px) {
				padding: 24px;
			}

			h2 {
				font-size: 50px;
				line-height: 52px;
				font-weight: 700;
				margin-bottom: 40px;

				@include max(991px) {
					font-size: 16px;
					line-height: 22px;
					margin-bottom: 16px;
				}
			}
			blockquote {
				p {
					font-size: 22px;
					line-height: 26px;
					font-weight: normal;
					margin-bottom: 30px;

					@include max(767px) {
						font-size: 12px;
						line-height: 22px;
						margin-bottom: 12px;
					}
				}
			}

			.btn {
				width: 260px;
				margin: 0px auto;
				white-space: nowrap;
				display: inherit;
			}
		}
	}

	&-img {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&-heading {
		display: flex;
		justify-content: space-between;
		@include max(991px) {
			align-items: flex-end;
		}
		&-info {
			h2 {
				color: #182327;
				font-size: 44px;
				line-height: 57px;
				font-weight: 700;

				@include max(991px) {
					font-size: 16px;
					line-height: 22px;
				}
			}

			p {
				margin: 0px;
				margin-bottom: 12px;
				display: flex;
				font-size: 30px;
				font-weight: 700;
				line-height: 34px;
				color: #787878;
				align-items: center;
				text-transform: capitalize;
				font-family: "Tinos", serif;
				font-style: italic;
				@include max(991px) {
					font-size: 12px;
					line-height: 22px;
				}
				span {
					margin-right: 12px;
				}
			}

			.bar {
				width: 260px;
				height: 2px;
				overflow: hidden;
				position: relative;
				border-radius: 20px;
				display: inline-block;
				background-color: #707070;

				@include max(991px) {
					width: 150px;
					height: 6px;
				}

				&::after {
					content: "";
					top: 50%;
					left: 0;
					width: 70%;
					height: 100%;
					position: absolute;
					background-color: #000000 !important;
					transform: translateY(-50%);
				}
			}
		}

		&-brand {
			text-align: right;

			img {
				margin-bottom: 12px;
			}
			p {
				font-size: 32px;
				font-weight: 700;
				line-height: 36px;
				font-style: italic;
				margin-bottom: 0px;
				font-family: "Tinos", serif;

				@include max(991px) {
					font-size: 12px;
					line-height: 16px;
				}
			}

			.bar {
				width: 160px;
				height: 2px;
				overflow: hidden;
				position: relative;
				border-radius: 20px;
				display: inline-block;
				background-color: #707070;

				@include max(991px) {
					width: 150px;
					height: 6px;
				}

				&::after {
					content: "";
					top: 50%;
					left: 0;
					width: 70%;
					height: 100%;
					position: absolute;
					background-color: #000000 !important;
					transform: translateY(-50%);
				}
			}
		}
	}
}

.articles-content {
	margin: 90px 0px;
	blockquote {
		p {
			color: #000000;
			font-size: 22px;
			line-height: 26px;
			font-weight: 400;
			font-family: "Tinos", serif;
		}
	}
}

.article-card {
	overflow: hidden;
	position: relative;
	border-radius: 32px;
	background-color: #fff;
	box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);

	&-upload {
		width: 100%;
		display: flex;
		height: 316px;
		align-items: center;
		justify-content: center;
	}

	&__img {
		width: 100%;
		height: 200px;
		overflow: hidden;
		border-radius: 32px;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {
		display: flex;
		padding: 24px;
		justify-content: space-between;

		a {
			color: #000000;
			font-size: 24px;
			font-weight: 700;
			line-height: 27px;
			text-transform: capitalize;
			font-family: "Tinos", serif;
		}
	}
}
