.noUi-target {
	border: 0px;
	box-shadow: none;
	background-color: transparent;
}
.noUi-connects {
	width: 100%;
	height: 1px;
	background-color: #000;
}

.noUi-horizontal .noUi-handle {
	width: 18px;
	height: 18px;
	border-radius: 50%;
}
.noUi-handle:after,
.noUi-handle:before {
	display: none;
}
.noUi-horizontal .noUi-handle {
	top: 50%;
	transform: translateY(-50%);
}
