.tabs {
	position: relative;
	overflow: hidden;
	&-wrapper {
		border-radius: 24px;
		background-color: #fff;
		overflow: hidden;
		box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
	}
	.nav {
		flex-wrap: nowrap;
		overflow: hidden;
		background-color: #f5f5f5;
		border-top-left-radius: 24px;
		border-top-right-radius: 24px;
		margin-bottom: 0px !important;
		border-bottom: 1px solid #70707049;

		@include max(991px) {
			max-width: 100%;
			overflow: hidden;
			overflow-x: scroll;
		}

		&-link {
			font-size: 24px;
			font-weight: 400;
			color: #868686;
			line-height: 35px;
			padding: 16px 60px;
			border-radius: 0px;
			white-space: nowrap;
			text-transform: capitalize;
			border-right: 1px solid #70707049;

			@include max(767px) {
				font-size: 18px;
				line-height: 26px;
			}
			&.active {
				color: #000;
				font-weight: 600;
				background-color: #fff;
				border-bottom: 2px solid #000000;
			}
		}
	}
	.tab-content {
		padding: 40px 60px;
		@include max(991px) {
			padding: 24px;
		}
		.article-card {
			margin-bottom: 24px;
		}
	}
}
