* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

a:hover, a:active {
  color: inherit;
}

input,
button {
  border: 0px;
}

input:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

button {
  display: inline-block;
  background-color: transparent;
}

body {
  font-weight: 400;
  font-family: "Tinos", serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  font-size: 16px;
  line-height: 19px;
  overflow: hidden;
  position: relative;
  border-radius: 24px;
  padding: 12px 0px;
  font-weight: 600;
  background-color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  box-shadow: -3px 7px 19px 1px rgba(0, 0, 0, 0.54);
}

.search-field {
  width: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 8px 16px;
  border-radius: 60px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.444);
}

.search-field__icon {
  position: absolute;
}

.search-field input {
  color: #fff;
  width: 80%;
  height: 100%;
  margin: 0px auto;
  font-weight: 300;
  text-align: center;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 24px;
}

.search-field input::placeholder {
  color: #fff;
  font-style: italic;
}

.article {
  padding: 24px;
  overflow: hidden;
  position: relative;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0px 12px 23px -3px rgba(0, 0, 0, 0.71);
}

.article:hover .article-content {
  height: 820px;
}

@media (max-width: 991px) {
  .article:hover .article-content {
    height: 600px;
  }
}

.article:hover .article-heading {
  height: 0px;
  visibility: hidden;
}

.article:hover .article-info {
  opacity: 1;
  pointer-events: visible;
  backdrop-filter: blur(17px);
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(17px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.article-content {
  z-index: 1;
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
  margin-bottom: 40px;
  transition: all 0.3s linear;
}

@media (max-width: 991px) {
  .article-content {
    height: 480px;
  }
}

@media (max-width: 767px) {
  .article-content {
    margin: 0px;
  }
}

.article-content .article-info {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  border-radius: 50px;
  box-shadow: none;
  background: transparent;
  backdrop-filter: blur(0px);
  font-family: "Tinos", serif;
  transition: all 0.2s ease-in-out;
  -webkit-backdrop-filter: blur(0px);
}

@media (max-width: 991px) {
  .article-content .article-info {
    padding: 24px;
  }
}

.article-content .article-info h2 {
  font-size: 50px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .article-content .article-info h2 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 24px;
  }
}

@media (max-width: 1200px) {
  .article-content .article-info blockquote {
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
  }
}

.article-content .article-info blockquote p {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .article-content .article-info blockquote p {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 12px;
  }
}

.article-content .article-info .btn {
  width: 260px;
  margin: 0px auto;
  white-space: nowrap;
  display: inherit;
}

.article-img {
  width: 100%;
  height: 100%;
}

.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-heading {
  display: flex;
  height: 220px;
  justify-content: space-between;
  transition: all 0.3s linear;
}

@media (max-width: 991px) {
  .article-heading {
    align-items: flex-end;
  }
}

@media (max-width: 767px) {
  .article-heading {
    height: 160px;
  }
}

.article-heading-info h2 {
  color: #182327;
  font-size: 44px;
  line-height: 57px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .article-heading-info h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (max-width: 991px) {
  .article-heading-info h2 {
    font-size: 16px;
    line-height: 22px;
  }
}

.article-heading-info p {
  margin: 0px;
  margin-bottom: 12px;
  display: flex;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  color: #787878;
  align-items: center;
  text-transform: capitalize;
  font-family: "Tinos", serif;
  font-style: italic;
}

@media (max-width: 991px) {
  .article-heading-info p {
    font-size: 12px;
    line-height: 22px;
  }
}

.article-heading-info p span {
  margin-right: 12px;
}

.article-heading-info .bar {
  width: 260px;
  height: 2px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: inline-block;
  background-color: #707070;
}

@media (max-width: 991px) {
  .article-heading-info .bar {
    width: 150px;
    height: 6px;
  }
}

.article-heading-info .bar::after {
  content: "";
  top: 50%;
  left: 0;
  width: 70%;
  height: 100%;
  position: absolute;
  background-color: #000000 !important;
  transform: translateY(-50%);
}

.article-heading-brand {
  text-align: right;
}

.article-heading-brand img {
  margin-bottom: 12px;
}

.article-heading-brand p {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  font-style: italic;
  margin-bottom: 0px;
  font-family: "Tinos", serif;
}

@media (max-width: 1200px) {
  .article-heading-brand p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 991px) {
  .article-heading-brand p {
    font-size: 12px;
    line-height: 16px;
  }
}

.article-heading-brand .bar {
  width: 160px;
  height: 2px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: inline-block;
  background-color: #707070;
}

@media (max-width: 991px) {
  .article-heading-brand .bar {
    width: 150px;
    height: 6px;
  }
}

.article-heading-brand .bar::after {
  content: "";
  top: 50%;
  left: 0;
  width: 70%;
  height: 100%;
  position: absolute;
  background-color: #000000 !important;
  transform: translateY(-50%);
}

.article-card {
  overflow: hidden;
  position: relative;
  border-radius: 32px;
  background-color: #fff;
  box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
}

.article-card-upload {
  z-index: 1;
  position: relative;
}

.article-card-upload input {
  cursor: pointer;
  width: 100%;
  display: flex;
  height: 316px;
  font-size: 0px;
  align-items: center;
  justify-content: center;
}

.article-card__img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 32px;
  position: relative;
}

.article-card__img:hover .play {
  top: 50%;
}

.article-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card__img .play {
  top: -100%;
  left: 50%;
  width: 90%;
  height: 80%;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 32px;
  justify-content: center;
  transform: all 0.3s linear;
  backdrop-filter: blur(18.5px);
  transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(18.5px);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.article-card__info {
  display: flex;
  padding: 24px;
  justify-content: space-between;
}

.article-card__info a {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  text-transform: capitalize;
  font-family: "Tinos", serif;
}

.article-card-uploadBtn {
  top: 50%;
  left: 50%;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
}

.tabs {
  position: relative;
  overflow: hidden;
}

.tabs-wrapper {
  border-radius: 24px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
}

.tabs .nav {
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: #f5f5f5;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  margin-bottom: 0px !important;
  border-bottom: 1px solid #70707049;
}

@media (max-width: 991px) {
  .tabs .nav {
    max-width: 100%;
    overflow: hidden;
    overflow-x: scroll;
  }
}

.tabs .nav-link {
  font-size: 24px;
  font-weight: 400;
  color: #868686;
  line-height: 35px;
  padding: 16px 60px;
  border-radius: 0px;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  border-right: 1px solid #70707049;
}

@media (max-width: 767px) {
  .tabs .nav-link {
    font-size: 18px;
    line-height: 26px;
  }
}

.tabs .nav-link.active {
  color: #000;
  font-weight: 500;
  background-color: #fff;
  border-bottom: 2px solid #000000;
}

.tabs .tab-content {
  padding: 40px 60px;
}

@media (max-width: 991px) {
  .tabs .tab-content {
    padding: 24px;
  }
}

.tabs .tab-content .article-card {
  margin-bottom: 24px;
}

.subscriber-card {
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  text-align: center;
  background-color: #fff;
}

.subscriber-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 118px;
  margin: 0px auto;
  overflow: hidden;
  border-radius: 50%;
  top: 20px;
  left: 50%;
  position: absolute;
  background-color: #fff;
  margin-bottom: 24px;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .subscriber-card__img {
    width: 70px;
    height: 70px;
    top: 45px;
  }
}

.subscriber-card__img img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 85%;
  height: 85%;
  object-fit: cover;
}

.subscriber-card__top {
  position: relative;
  height: 80px;
  background: #707070;
  border-radius: 12px;
  background: linear-gradient(90deg, #707070 1%, #383838 100%);
}

.subscriber-card__info {
  padding-top: 80px;
  padding-bottom: 24px;
}

.subscriber-card__info h2 {
  font-size: 14px;
  line-height: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 767px) {
  .subscriber-card__info {
    padding-top: 45px;
  }
  .subscriber-card__info h2 {
    line-height: 1.5;
  }
}

.subscriber-card__info button {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  border-radius: 26px;
  background-color: #000;
  padding: 12px 24px;
  font-weight: 700;
  transition: all 0.3s linear;
  border: 1px solid transparent;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px) {
  .subscriber-card__info button {
    font-size: 12px;
    padding: 0.325rem 0.5rem;
  }
}

.subscriber-card__info button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

#subscription .modal-content {
  border: 0px;
  border-radius: 10px;
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  background: rgba(255, 255, 255, 0.05);
}

#subscription .modal-content .modal-body .subscriber-card {
  margin-bottom: 24px;
}

.noUi-target {
  border: 0px;
  box-shadow: none;
  background-color: transparent;
}

.noUi-connects {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.noUi-horizontal .noUi-handle {
  top: 50%;
  transform: translateY(-50%);
}

.header {
  top: 0;
  left: 0;
  z-index: 999;
  position: absolute;
}

@media (max-width: 575px) {
  .header-logo img {
    width: 80px;
  }
}

.header-primary {
  width: 100%;
  padding: 40px 0px;
}

.header-primary .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-primary .menues {
  padding: 0px;
  display: flex;
  align-items: center;
}

@media (max-width: 1199px) {
  .header-primary .menues {
    order: 3;
  }
}

.header-primary .menues li {
  margin-right: 4px;
}

@media (max-width: 767px) {
  .header-primary .menues li:nth-last-child(1), .header-primary .menues li:nth-last-child(2) {
    display: none;
  }
}

.header-primary .menues li:nth-last-child(1) {
  margin: 0;
}

.header-primary .menues li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  padding: 12px 24px;
  border-radius: 75px;
  display: inline-block;
  border: 2px solid #fff;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1199px) {
  .header-primary .menues li a {
    font-size: 12px;
    line-height: 16px;
    padding: 6px 12px;
  }
}

.header-primary .menues li a:hover {
  color: #182327;
  background-color: #fff;
}

@media (max-width: 1199px) {
  .header-primary .search-field {
    display: none;
  }
}

@media (max-width: 1199px) {
  .header-primary .header-logo {
    order: 2;
  }
}

@media (max-width: 767px) {
  .header-primary .header-logo .logo-lg {
    display: none;
  }
}

@media (min-width: 768px) {
  .header-primary .header-logo .logo-sm {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header-primary .header-mobile-actions {
    display: none;
  }
}

.header-two {
  width: 100%;
  padding: 20px 0px;
  position: relative;
  background-color: #fff;
  box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
}

.header-two .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-two .header-publish-btn {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 12px 24px;
  font-family: "Poppins", sans-serif;
  border-radius: 24px;
  box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
}

.header-two .header-publish-btn span {
  margin-right: 12px;
}

.header-three {
  width: 100%;
  position: relative;
}

.header-three .top {
  padding: 30px 0px;
  background-color: #fff;
}

.header-three .bottom {
  padding: 20px 0px;
  background-color: #f5f5f5;
}

.header-three .bottom .container-fluid {
  display: flex;
  padding: 0px 60px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1199px) {
  .header-three .bottom .container-fluid {
    flex-direction: column;
  }
}

.header-three .bottom .author-profile {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 68px;
  background-color: #fff;
  box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
}

.header-three .bottom .author-profile__info {
  display: flex;
  margin-right: 40px;
  align-items: center;
  position: relative;
}

.header-three .bottom .author-profile__info h2,
.header-three .bottom .author-profile__info p,
.header-three .bottom .author-profile__info input {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  margin: 0;
  max-width: 180px;
  display: block;
  background-color: transparent;
}

@media (max-width: 1199px) {
  .header-three .bottom .author-profile__info h2,
  .header-three .bottom .author-profile__info p,
  .header-three .bottom .author-profile__info input {
    font-size: 16px;
    line-height: 21px;
  }
}

.header-three .bottom .author-profile__info .edit {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000000;
  top: -15px;
  right: -30px;
}

.header-three .bottom .author-profile__info .bar {
  width: 180px;
  height: 2px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: inline-block;
  background-color: #707070;
}

@media (max-width: 1199px) {
  .header-three .bottom .author-profile__info .bar {
    width: 150px;
    height: 6px;
  }
}

.header-three .bottom .author-profile__info .bar::after {
  content: "";
  top: 50%;
  left: 0;
  width: 70%;
  height: 100%;
  position: absolute;
  background-color: #000000 !important;
  transform: translateY(-50%);
}

.header-three .bottom .author-profile__img {
  display: flex;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  margin-right: 12px;
  background-color: #000;
}

.header-three .bottom .author-profile__img img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  object-fit: cover;
}

.header-three .bottom .author-profile__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
}

.header-three .bottom .searchbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 485px;
  overflow: hidden;
  position: relative;
  padding: 8px 0px;
  border-radius: 60px;
  background-color: #000;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1380px) {
  .header-three .bottom .searchbox {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .header-three .bottom .searchbox {
    margin: 24px 0px;
  }
}

.header-three .bottom .searchbox input {
  color: #fff;
  width: 80%;
  margin: 0px auto;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}

.header-three .bottom .searchbox input::placeholder {
  font-style: italic;
  color: inherit;
  text-transform: capitalize;
}

.header-three .bottom .searchbox .icon {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.header-three .bottom .menu {
  display: flex;
  align-items: center;
}

.header-three .bottom .menu li {
  margin-right: 12px;
}

.header-three .bottom .menu li a,
.header-three .bottom .menu li button {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 12px 24px;
  border-radius: 26px;
  display: inline-block;
  border: 1px solid #707070;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-family: "Montserrat", sans-serif;
}

.header-three .bottom .menu li a:hover,
.header-three .bottom .menu li button:hover {
  background-color: #000;
  color: #fff;
}

.banner {
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  z-index: 1;
  padding-top: 480px;
  padding-bottom: 80px;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .banner {
    padding-top: 90px;
  }
}

.banner::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.376);
}

.banner .newscontent {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
}

.banner .newscontent-date {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}

@media (max-width: 991px) {
  .banner .newscontent-date {
    margin-bottom: 6px;
  }
}

@media (max-width: 991px) {
  .banner .newscontent-date span {
    width: 16px;
  }
}

.banner .newscontent-date span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner .newscontent-date p {
  margin: 0 !important;
  color: #fff;
  font-size: 30px;
  line-height: 34px;
  font-style: italic;
  margin-left: 12px !important;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  .banner .newscontent-date p {
    font-size: 10px !important;
    line-height: 11px !important;
    margin-left: 6px !important;
  }
}

.banner .newscontent-info h2,
.banner .newscontent-info a,
.banner .newscontent-info textarea,
.banner .newscontent-info input {
  color: #fff;
  font-size: 92px;
  line-height: 78px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Tinos", serif;
  display: inline-block;
  max-width: 940px;
}

@media (max-width: 991px) {
  .banner .newscontent-info h2,
  .banner .newscontent-info a,
  .banner .newscontent-info textarea,
  .banner .newscontent-info input {
    font-size: 24px;
    line-height: 21px;
    max-width: 240px;
    margin-bottom: 0px;
  }
}

.banner .newscontent-info input,
.banner .newscontent-info textarea {
  height: 180px;
  border: 0;
  resize: none;
  color: #fff;
  overflow: hidden;
  background-color: transparent;
}

.banner .newscontent-info input:focus,
.banner .newscontent-info textarea:focus {
  outline: none;
  border: none;
}

.banner .newscontent-info input::placeholder,
.banner .newscontent-info textarea::placeholder {
  color: #fff;
}

.banner .newscontent-info .newscontent-brief {
  color: #fff;
  font-size: 37px;
  font-weight: 300;
  line-height: 43px;
  font-style: italic;
  margin-bottom: 12px;
  width: 100%;
  font-family: "Tinos", serif;
  text-align: left;
}

@media (max-width: 767px) {
  .banner .newscontent-info .newscontent-brief {
    max-width: 300px;
  }
}

@media (max-width: 575px) {
  .banner .newscontent-info .newscontent-brief {
    max-width: 200px;
  }
}

@media (max-width: 991px) {
  .banner .newscontent-info .newscontent-brief {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .banner .newscontent-info .newscontent-brief {
    line-height: 20px;
  }
}

.banner .newscontent-info .newscontent-brief::placeholder {
  color: #fff;
}

.banner .newscontent-info .bar {
  width: 280px;
  height: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.311);
}

@media (max-width: 991px) {
  .banner .newscontent-info .bar {
    width: 150px;
    height: 6px;
  }
}

.banner .newscontent-info .bar::after {
  content: "";
  top: 50%;
  left: 0;
  width: 70%;
  height: 100%;
  position: absolute;
  background-color: #fff !important;
  transform: translateY(-50%);
}

.banner .newscontent-brand {
  text-align: right;
}

.banner .newscontent-brand img {
  margin-bottom: 12px;
  display: inline-block;
}

@media (max-width: 991px) {
  .banner .newscontent-brand img {
    margin-bottom: 6px;
  }
}

.banner .newscontent-brand h2 {
  color: #fff;
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  .banner .newscontent-brand h2 {
    font-size: 16px;
    line-height: 22px;
  }
}

.banner .newscontent-brand span {
  width: 180px;
  height: 4px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: inline-block;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.311);
}

@media (max-width: 991px) {
  .banner .newscontent-brand span {
    width: 80px;
  }
}

.banner .newscontent-brand span::after {
  content: "";
  top: 50%;
  left: 0;
  width: 70%;
  height: 100%;
  position: absolute;
  background-color: #fff !important;
  transform: translateY(-50%);
}

.banner .newscontent-brand p {
  color: #fff;
  font-size: 16px;
  margin-top: 48px;
  line-height: 18px;
  font-style: italic;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  .banner .newscontent-brand p {
    margin: 0;
    font-size: 12px;
    line-height: 22px;
  }
}

.banner-add {
  top: 50%;
  right: 20px;
  width: 258px;
  height: 90%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transform: translateY(-50%);
  backdrop-filter: blur(20px);
  border-bottom-right-radius: 80px;
  -webkit-backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  border: 5px solid rgba(255, 255, 255, 0.18);
}

@media (max-width: 767px) {
  .banner-add {
    width: 80px;
    border-bottom-right-radius: 40px;
  }
}

.banner-add__input input {
  display: none;
}

.banner-add__input label {
  cursor: pointer;
}

@media (max-width: 767px) {
  .banner-add__input label img {
    width: 30px;
  }
}

.banner-stream {
  padding-top: 860px;
}

@media (max-width: 767px) {
  .banner-stream {
    padding-top: 400px;
  }
}

.banner-stream .banner-content {
  width: 98%;
  height: 95%;
  top: 50%;
  left: 50%;
  color: #fff;
  position: absolute;
  border-radius: 60px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  text-align: center;
}

.banner-stream .banner-content__info {
  max-width: 1200px;
}

.banner-stream .banner-content__info h2 {
  font-size: 92px;
  line-height: 78px;
  font-weight: 700;
  margin-bottom: 12px;
  text-transform: capitalize;
  font-family: "Tinos", serif;
}

@media (max-width: 991px) {
  .banner-stream .banner-content__info h2 {
    font-size: 24px;
    line-height: 21px;
    margin-bottom: 6px;
  }
}

.banner-stream .banner-content__info p {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  font-style: italic;
  font-family: "Tinos", serif;
}

@media (max-width: 991px) {
  .banner-stream .banner-content__info p {
    font-size: 14px;
    line-height: 24px;
  }
}

.banner-stream .banner-content__info .bar {
  width: 280px;
  height: 4px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.311);
}

@media (max-width: 991px) {
  .banner-stream .banner-content__info .bar {
    width: 150px;
    height: 6px;
  }
}

.banner-stream .banner-content__info .bar::after {
  content: "";
  top: 50%;
  left: 0;
  width: 70%;
  height: 100%;
  position: absolute;
  background-color: #fff !important;
  transform: translateY(-50%);
}

.banner-stream .banner-content .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.articles {
  overflow: hidden;
  position: relative;
  margin: 90px 0px;
}

@media (max-width: 767px) {
  .articles {
    margin: 45px 0px;
  }
}

.articles .article {
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  .articles .article {
    margin-bottom: 24px;
  }
}

.author-details {
  padding: 24px 0px;
  position: relative;
  background-color: #f5f5f5;
}

.author-details .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 575px) {
  .author-details .container {
    flex-direction: column;
  }
}

.author-details .author,
.author-details .publication {
  border-radius: 68px;
  padding: 16px 20px;
  background-color: #fff;
  text-align: center;
  box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
}

.author-details .author {
  display: flex;
  align-items: center;
}

@media (max-width: 575px) {
  .author-details .author {
    margin-bottom: 12px;
  }
}

.author-details .author-img {
  width: 60px;
  height: 60px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 50%;
  position: relative;
  margin-right: 12px;
  justify-content: center;
  background-color: #000;
}

@media (max-width: 767px) {
  .author-details .author-img {
    width: 32px;
    height: 32px;
  }
}

.author-details .author-img img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  object-fit: cover;
}

.author-details .author-info h2,
.author-details .author-info input {
  color: #000;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  max-width: 180px;
  text-transform: capitalize;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  display: block;
}

@media (max-width: 767px) {
  .author-details .author-info h2,
  .author-details .author-info input {
    font-size: 12px;
    line-height: 12px;
  }
}

.author-details .author-info .bar {
  width: 200px;
  height: 2px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: inline-block;
  background-color: #707070;
}

@media (max-width: 991px) {
  .author-details .author-info .bar {
    width: 150px;
    height: 2px;
  }
}

@media (max-width: 767px) {
  .author-details .author-info .bar {
    width: 100px;
  }
}

.author-details .author-info .bar::after {
  content: "";
  top: 50%;
  left: 0;
  width: 70%;
  height: 100%;
  position: absolute;
  background-color: #000 !important;
  transform: translateY(-50%);
}

.author-details .publication p {
  color: #707070;
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 767px) {
  .author-details .publication p {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
  }
}

.author-details .publication p span {
  color: #000;
  font-style: normal;
  font-weight: 500;
}

.author-details .publication .bar {
  width: 90%;
  height: 2px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: inline-block;
  background-color: #707070;
}

@media (max-width: 991px) {
  .author-details .publication .bar {
    width: 150px;
    height: 2px;
  }
}

@media (max-width: 767px) {
  .author-details .publication .bar {
    width: 120px;
  }
}

.author-details .publication .bar::after {
  content: "";
  top: 50%;
  left: 0;
  width: 70%;
  height: 100%;
  position: absolute;
  background-color: #000 !important;
  transform: translateY(-50%);
}

.articles-content {
  overflow: hidden;
  margin: 90px 0px;
  position: relative;
}

@media (max-width: 767px) {
  .articles-content {
    margin: 45px 0px;
  }
}

.articles-content blockquote {
  margin: 0;
}

@media (max-width: 575px) {
  .articles-content blockquote {
    padding-bottom: 120px;
  }
}

.articles-content blockquote p {
  color: #000000;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Tinos", serif;
}

@media (max-width: 767px) {
  .articles-content blockquote p {
    font-size: 14px;
    line-height: 16px;
  }
}

.articles-content-wrapper {
  position: relative;
}

.articles-content-wrapper blockquote {
  padding-bottom: 60px;
}

.articles-content-edit {
  width: 32px;
  height: 32px;
  top: -30px;
  right: 0;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
}

.articles-content-edit svg {
  transform: scale(0.6);
}

.articles-content__share {
  width: 850px;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  margin-top: 80px;
  border-radius: 45px;
  padding: 28px 50px;
  background-color: #eeeeee;
}

@media (max-width: 991px) {
  .articles-content__share {
    padding: 12px 24px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .articles-content__share {
    margin-top: 60px;
  }
}

.articles-content__share input {
  color: #757575;
  font-size: 20px;
  line-height: 35px;
  font-weight: 500;
  width: 70%;
  height: 100%;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1024px) {
  .articles-content__share input {
    font-size: 14px;
    line-height: 21px;
    width: 80%;
  }
}

.articles-content__share button {
  font-size: 24px;
  line-height: 35px;
  font-weight: 500;
  width: 245px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 45px;
  background-color: #000;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 991px) {
  .articles-content__share button {
    width: 120px;
  }
}

.articles-content .sticky-sidebar {
  top: 0;
  left: 0;
  position: absolute;
}

@media (max-width: 575px) {
  .articles-content .sticky-sidebar {
    top: auto;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.sidebar {
  padding: 40px 24px;
  transition: all 0.4s linear;
}

.sidebar--sm {
  top: 0;
  z-index: 999;
  left: -100%;
  position: fixed;
  padding-top: 90px;
  width: 70%;
  overflow-y: scroll;
}

@media (min-width: 1200px) {
  .sidebar--sm {
    display: none;
  }
}

@media (max-width: 1200px) {
  .sidebar--sm {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .sidebar--sm {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .sidebar--sm {
    width: 80%;
  }
}

.sidebar-menu {
  padding: 0px;
}

.sidebar-menu li {
  margin-bottom: 24px;
}

.sidebar-menu li a {
  width: 100%;
  white-space: nowrap;
}

.sidebar-promo {
  padding: 24px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  position: relative;
  text-align: right;
  background: white;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, white 1%, #737373 100%);
}

@media (max-width: 1600px) {
  .sidebar-promo {
    padding: 12px;
  }
}

.sidebar-promo .price {
  text-align: right;
}

.sidebar-promo .price h2,
.sidebar-promo .price p {
  font-size: 36px;
  line-height: 52px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1600px) {
  .sidebar-promo .price h2,
  .sidebar-promo .price p {
    font-size: 24px;
    line-height: 32px;
  }
}

.sidebar-promo a {
  width: 100%;
  font-size: 20px;
  display: inline;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1600px) {
  .sidebar-promo a {
    font-size: 16px;
    line-height: 26px;
  }
}

.sidebar-promo-info {
  text-align: initial;
  display: none;
}

.sidebar-promo-info .title,
.sidebar-promo-info p,
.sidebar-promo-info .content h2 {
  color: #000;
}

.sidebar-promo-info .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 52px;
}

@media (max-width: 1600px) {
  .sidebar-promo-info .title {
    font-size: 14px;
    line-height: 24px;
  }
}

.sidebar-promo-info p {
  font-size: 19px;
  font-weight: 700;
  white-space: nowrap;
}

.sidebar-promo-info .bar {
  width: 100%;
  height: 1px;
  margin-bottom: 12px;
  display: inline-block;
  background-color: #000;
  position: relative;
}

.sidebar-promo-info .bar::after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
}

.sidebar-promo-info .content h2 {
  font-size: 18px;
  line-height: 52px;
  font-weight: 700;
}

@media (max-width: 1600px) {
  .sidebar-promo-info .content h2 {
    font-size: 14px;
    line-height: 36px;
  }
}

.sidebar-promo-info .content ul {
  padding: 0px;
}

.sidebar-promo-info .content ul li {
  color: #000;
  font-size: 16px;
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 600;
}

.sidebar-close {
  position: absolute;
  top: 12px;
  right: 12px;
}

.sticky-sidebar {
  z-index: 99;
  padding: 0px;
  width: 104px;
  background-color: #fff;
  border-top-right-radius: 38px;
  border-bottom-right-radius: 38px;
  box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
}

@media (max-width: 575px) {
  .sticky-sidebar {
    top: auto;
    bottom: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    align-items: center;
    border-radius: 0px;
  }
}

.sticky-sidebar li {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.395);
}

@media (max-width: 767px) {
  .sticky-sidebar li {
    padding: 12px;
  }
}

@media (max-width: 575px) {
  .sticky-sidebar li {
    border: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.395);
  }
}

.sticky-sidebar li:nth-last-child(1) {
  border: 0px;
}

.sticky-sidebar li:hover a img {
  transform: scale(1.1);
}

.sticky-sidebar li a img {
  filter: grayscale(1);
  transform: scale(1);
}

@media (max-width: 767px) {
  .sticky-sidebar li a img {
    transform: scale(0.8);
  }
}

body.open .sidebar {
  left: 0;
}

body.show-details .sidebar-promo-price {
  display: none;
}

body.show-details .sidebar-promo-info {
  display: block;
}

.dashboard {
  margin: 24px 0px;
}

.dashboard-img {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 24px;
  margin-bottom: 30px;
}

.dashboard-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dashboard-img .live {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: 50%;
  background-color: red;
}

.dashboard-setting {
  z-index: 1;
  height: 100%;
  position: relative;
  border-top-left-radius: 12px;
  background-color: #161616 !important;
  font-family: "Open Sans", sans-serif;
}

.dashboard-setting::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(22, 22, 22, 0.251);
}

.dashboard-setting .heading {
  font-size: 24px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  padding: 30px 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #707070;
}

.dashboard-setting form {
  padding: 26px 46px;
}

@media (max-width: 1440px) {
  .dashboard-setting form {
    padding: 26px;
  }
}

.dashboard-field {
  margin-bottom: 30px;
}

.dashboard-field h2,
.dashboard-field select,
.dashboard-field .bv_mainselect {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 12px;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1480px) {
  .dashboard-field h2,
  .dashboard-field select,
  .dashboard-field .bv_mainselect {
    font-size: 18px;
    line-height: 26px;
  }
}

.dashboard-field .bv_mainselect {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 44px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

.dashboard-field .bv_mainselect .bv_atual {
  border-radius: 24px !important;
}

.dashboard-field .per-sale {
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  width: 100%;
  padding: 22px;
  text-align: center;
  border-radius: 24px;
  border: 2px solid #fff;
}

.dashboard-field__rate {
  display: flex;
  align-items: center;
}

.dashboard-field__rate .field {
  width: 160px;
  height: 75px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  margin-right: 24px;
}

@media (max-width: 1200px) {
  .dashboard-field__rate .field {
    font-size: 18px;
  }
}

.dashboard-field__rate .field input {
  font-size: inherit;
  width: 40px;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  font-weight: 700;
  margin-right: 2px;
}

.dashboard-field__rate .field p {
  margin: 0;
  color: #000;
}

.dashboard-field__rate .rate {
  display: flex;
  align-items: center;
  font-size: 28px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
}

.dashboard-field__rate .rate span {
  margin-right: 12px;
}

.dashboard-field__earning {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.dashboard-field__earning li {
  display: flex;
  padding: 24px 20px;
  margin-right: 14px;
  margin-bottom: 14px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.dashboard-field__earning li:nth-last-child(1) {
  margin-right: 0px;
}

.dashboard-field__earning li p {
  margin: 0px;
  font-size: 24px;
  color: #1f244d;
  font-weight: 700;
  line-height: 18px;
}

.dashboard blockquote {
  margin-bottom: 60px;
}

.dashboard blockquote p {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  font-style: italic;
  font-family: "Tinos", serif;
}

.dashboard .live-btn {
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 18px 0px;
  border-radius: 12px;
  background-color: #606060;
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.dashboard .live-btn:hover {
  background-color: #494848;
}

.dashboard .live-btn span {
  margin-right: 12px;
}

.dashboard-info {
  padding: 34px 48px;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
}

@media (max-width: 768px) {
  .dashboard-info {
    padding: 0 15px 30px 15px;
  }
}

.dashboard-info h2,
.dashboard-info p {
  font-family: "Tinos", serif;
}

.dashboard-info h2 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .dashboard-info h2 {
    font-size: 35px;
    line-height: 1;
  }
}

.dashboard-info p {
  font-size: 32px;
  line-height: 38px;
  font-style: italic;
  font-weight: 300;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.login::after {
  content: "";
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  position: absolute;
  background-color: #000;
  z-index: -1;
}

@media (max-width: 991px) {
  .login::after {
    width: 100%;
    height: 38%;
  }
}

.login-card {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 110px 0px;
  border: 3px solid #fff;
  box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
}

@media (max-width: 991px) {
  .login-card {
    padding: 60px 0px;
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .login-card {
    width: 80%;
  }
}

.login-card .login-brand {
  width: 375px;
  padding: 0px 95px;
}

@media (max-width: 991px) {
  .login-card .login-brand {
    padding: 0px;
    text-align: center;
    padding-bottom: 110px;
  }
}

.login-card .login-info {
  padding: 0px 110px;
}

@media (max-width: 991px) {
  .login-card .login-info {
    padding: 0px 24px;
  }
}

.login-card .login-info h2 {
  color: #4c4c4c;
  font-size: 42px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 991px) {
  .login-card .login-info h2 {
    font-size: 26px;
    lilne-height: 26px;
    padding-bottom: 24px;
  }
}

.login-card .login-info .form-fields {
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 36px;
  border-bottom: 1px solid #707070;
}

.login-card .login-info .form-fields a {
  color: #4c4c4c;
  font-size: 14px;
  line-height: 26px;
  font-style: italic;
  font-weight: 300;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}

.login-card .login-info .form-field {
  width: 350px;
  overflow: hidden;
  border-radius: 38px;
  position: relative;
  border: 2px solid #707070;
  margin-bottom: 18px;
}

@media (max-width: 767px) {
  .login-card .login-info .form-field {
    width: 100%;
  }
}

.login-card .login-info .form-field input {
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 12px 26px;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}

@media (max-width: 991px) {
  .login-card .login-info .form-field input {
    font-size: 14px;
    line-height: 26px;
  }
}

.login-card .login-info button {
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  padding: 12px 0px;
  position: relative;
  border-radius: 38px;
  display: inline-block;
  background-color: #000;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.login-card .login-info button span {
  top: 50%;
  right: 24px;
  position: absolute;
  transform: translateY(-50%);
}

#codes .modal-content {
  border-radius: 24px;
}

#codes .modal-header .close-btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  border: 2px solid #9a9a9a;
}

#codes .modal-body {
  padding: 0px;
  text-align: center;
}

#codes .modal-body h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 46px;
  padding-bottom: 60px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 767px) {
  #codes .modal-body h2 {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 24px;
  }
}

@media (max-width: 575px) {
  #codes .modal-body h2 {
    font-size: 18px;
    line-height: 21px;
  }
}

#codes .modal-body .add-btn {
  font-size: 16px;
  line-height: 19px;
  width: 200px;
  height: 44px;
  font-weight: 600;
  border-radius: 38px;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
  box-shadow: -3px 7px 16px 1px rgba(0, 0, 0, 0.089);
}

@media (max-width: 767px) {
  #codes .modal-body .add-btn {
    margin-bottom: 24px;
  }
}

#codes .modal-body .submit-wrapper {
  padding: 36px 0px;
  border-top: 1px solid #707070;
}

@media (max-width: 767px) {
  #codes .modal-body .submit-wrapper {
    padding: 16px 0px;
  }
}

#codes .modal-body .submit-wrapper button {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  width: 200px;
  height: 44px;
  background-color: #000;
  border-radius: 34px;
  font-family: "Poppins", sans-serif;
}

#codes .modal-body .submit-wrapper button span {
  margin-right: 12px;
}

#codes .modal-body .field {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  #codes .modal-body .field {
    flex-direction: column;
  }
}

#codes .modal-body .field label {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  margin-right: 24px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 767px) {
  #codes .modal-body .field label {
    font-size: 18px;
    line-height: 26px;
    margin: 0px;
    margin-bottom: 12px;
  }
}

#codes .modal-body .field-wrapper {
  width: 350px;
  border-radius: 38px;
  background-color: #fff;
  border: 2px solid #707070;
}

@media (max-width: 767px) {
  #codes .modal-body .field-wrapper {
    width: 90%;
  }
}

#codes .modal-body .field-wrapper input {
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
  padding: 12px 26px;
  font-weight: 300;
  height: 100%;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}

#codes .modal-body .field-wrapper input::placeholde {
  color: #707070;
}

#codes .modal-body .add-btn span {
  margin-right: 12px;
  display: inline-block;
}

#publishModal .modal-content,
.finalStep-modal .modal-content {
  border-radius: 24px;
}

#publishModal .modal-body,
.finalStep-modal .modal-body {
  font-family: "Poppins", sans-serif;
  padding: 0px;
}

#publishModal .modal-body > h2,
.finalStep-modal .modal-body > h2 {
  color: #000000;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  #publishModal .modal-body > h2,
  .finalStep-modal .modal-body > h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

#publishModal .modal-body .profile-contents,
.finalStep-modal .modal-body .profile-contents {
  text-align: center;
  margin: 0px auto;
}

#publishModal .modal-body .profile-contents > h2,
.finalStep-modal .modal-body .profile-contents > h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 32px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 767px) {
  #publishModal .modal-body .profile-contents > h2,
  .finalStep-modal .modal-body .profile-contents > h2 {
    font-size: 18px;
    line-height: 28px;
  }
}

#publishModal .modal-body .profile-contents .profile-contents__item,
.finalStep-modal .modal-body .profile-contents .profile-contents__item {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  width: 80%;
  margin: 0px auto;
  justify-content: center;
}

@media (max-width: 991px) {
  #publishModal .modal-body .profile-contents .profile-contents__item,
  .finalStep-modal .modal-body .profile-contents .profile-contents__item {
    width: 100%;
    flex-direction: column;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #publishModal .modal-body .profile-contents .profile-contents__item,
  .finalStep-modal .modal-body .profile-contents .profile-contents__item {
    padding: 0px 24px;
    padding-bottom: 24px;
  }
}

#publishModal .modal-body .profile-contents .profile-contents__item .profile-box,
.finalStep-modal .modal-body .profile-contents .profile-contents__item .profile-box {
  width: 100%;
  height: 250px;
  cursor: pointer;
  margin-right: 24px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  border: 2px solid #70707049;
}

#publishModal .modal-body .profile-contents .profile-contents__item .profile-box:hover,
.finalStep-modal .modal-body .profile-contents .profile-contents__item .profile-box:hover {
  color: #fff;
  background-color: #000;
}

#publishModal .modal-body .profile-contents .profile-contents__item .profile-box:hover p,
.finalStep-modal .modal-body .profile-contents .profile-contents__item .profile-box:hover p {
  color: #fff;
}

@media (max-width: 991px) {
  #publishModal .modal-body .profile-contents .profile-contents__item .profile-box,
  .finalStep-modal .modal-body .profile-contents .profile-contents__item .profile-box {
    margin: 0px;
    margin-bottom: 24px;
  }
}

#publishModal .modal-body .profile-contents .profile-contents__item .profile-box:nth-last-child(1),
.finalStep-modal .modal-body .profile-contents .profile-contents__item .profile-box:nth-last-child(1) {
  margin: 0px;
}

#publishModal .modal-body .profile-contents .profile-contents__item .profile-box__icon,
.finalStep-modal .modal-body .profile-contents .profile-contents__item .profile-box__icon {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  #publishModal .modal-body .profile-contents .profile-contents__item .profile-box__icon,
  .finalStep-modal .modal-body .profile-contents .profile-contents__item .profile-box__icon {
    margin-bottom: 12px;
  }
}

#publishModal .modal-body .profile-contents .profile-contents__item .profile-box p,
.finalStep-modal .modal-body .profile-contents .profile-contents__item .profile-box p {
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

#publishModal .modal-body form > h2,
.finalStep-modal .modal-body form > h2 {
  color: #000;
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  #publishModal .modal-body form > h2,
  .finalStep-modal .modal-body form > h2 {
    text-align: left;
  }
}

@media (max-width: 767px) {
  #publishModal .modal-body form > h2,
  .finalStep-modal .modal-body form > h2 {
    text-align: center;
  }
}

#publishModal .modal-body form .field,
#publishModal .modal-body form .form-content,
.finalStep-modal .modal-body form .field,
.finalStep-modal .modal-body form .form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
  #publishModal .modal-body form .field,
  #publishModal .modal-body form .form-content,
  .finalStep-modal .modal-body form .field,
  .finalStep-modal .modal-body form .form-content {
    flex-direction: column;
    align-items: flex-start;
  }
}

#publishModal .modal-body form .form-content,
.finalStep-modal .modal-body form .form-content {
  width: 70%;
  margin: 0px auto;
  padding-bottom: 60px;
}

@media (max-width: 1340px) {
  #publishModal .modal-body form .form-content,
  .finalStep-modal .modal-body form .form-content {
    width: 90%;
  }
}

@media (max-width: 991px) {
  #publishModal .modal-body form .form-content,
  .finalStep-modal .modal-body form .form-content {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  #publishModal .modal-body form .form-content,
  .finalStep-modal .modal-body form .form-content {
    padding: 0px 24px;
    padding-bottom: 30px;
  }
}

#publishModal .modal-body form .form-content .form-check-label,
.finalStep-modal .modal-body form .form-content .form-check-label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
}

#publishModal .modal-body form .form-content .form-check-input:checked,
.finalStep-modal .modal-body form .form-content .form-check-input:checked {
  background-color: #000;
  border-color: #000;
  box-shadow: none;
}

#publishModal .modal-body form .field,
.finalStep-modal .modal-body form .field {
  margin-right: 24px;
}

@media (max-width: 991px) {
  #publishModal .modal-body form .field,
  .finalStep-modal .modal-body form .field {
    margin-bottom: 24px;
  }
}

#publishModal .modal-body form .field label,
.finalStep-modal .modal-body form .field label {
  color: #000;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  margin-right: 8px;
  white-space: nowrap;
}

#publishModal .modal-body form .field-wrapper,
.finalStep-modal .modal-body form .field-wrapper {
  width: 260px;
  height: 44px;
  border-radius: 25px;
  border: 1px solid #707070;
}

#publishModal .modal-body form .field-wrapper input,
.finalStep-modal .modal-body form .field-wrapper input {
  font-size: 18px;
  line-height: 26px;
  padding: 12px 26px;
  font-weight: 300;
  height: 100%;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}

#publishModal .modal-body form .field-wrapper input::placeholde,
.finalStep-modal .modal-body form .field-wrapper input::placeholde {
  color: #707070;
}

#publishModal .modal-body form .actions,
.finalStep-modal .modal-body form .actions {
  display: flex;
  padding: 32px;
  align-items: center;
  border-top: 1px solid #707070;
  justify-content: space-between;
}

@media (max-width: 767px) {
  #publishModal .modal-body form .actions,
  .finalStep-modal .modal-body form .actions {
    padding: 24px;
  }
}

#publishModal .modal-body form .actions button,
.finalStep-modal .modal-body form .actions button {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  padding: 12px 40px;
  border-radius: 38px;
  display: inline-block;
  border: 3px solid #000000;
}

@media (max-width: 767px) {
  #publishModal .modal-body form .actions button,
  .finalStep-modal .modal-body form .actions button {
    padding: 12px;
  }
}

#publishModal .modal-body form .actions button.submit,
.finalStep-modal .modal-body form .actions button.submit {
  color: #fff;
  background-color: #000;
}

#addUrlModal .modal-content {
  border-radius: 24px;
}

#addUrlModal .modal-body {
  text-align: center;
  padding-bottom: 36px;
  font-family: "Poppins", sans-serif;
}

#addUrlModal .modal-body h2 {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

#addUrlModal .modal-body .field {
  width: 80%;
  margin: 0px auto;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 28px;
  margin-bottom: 30px;
  position: relative;
}

#addUrlModal .modal-body .field input {
  width: 100%;
  padding: 16px 24px;
}

#addUrlModal .modal-body .submit {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  padding: 12px 24px;
  border-radius: 24px;
  display: inline-block;
  background-color: #000;
}

@media (max-width: 767px) {
  #addUrlModal .modal-body .submit {
    padding: 12px;
    width: 120px;
  }
}
/*# sourceMappingURL=main.css.map */